node_modules/
logs/
crash-reports/
*.log
saves/
screenshots/
servers.dat
servers.dat_old
usercache.json
command_history.txt
launcher_profiles.json
debug-profile.json
authlib-injector.log
build_error.log
full_build_log.txt
options.txt
assets/objects/
assets/indexes/
assets/skins/
libraries/
versions/
natives/
dist/
build-dist/
downloads/
.fabric/
void-mod/.gradle/
void-mod/build/
void-mod/.gradle/
*.jar
